<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'task_manager:index' %}">Task
      Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="{% url 'task_manager:task-list' %}">All
          tasks</a>
        <a class="nav-link"
           href="{% url 'task_manager:task-list' %}?my_tasks=True">My
          tasks</a>
        <a class="nav-link" href="{% url 'task_manager:task-list' %}
?is_completed=True&my_tasks=True">Completed</a>
        <a class="nav-link" href="{% url 'task_manager:tag-list' %}">Tags</a>
        <a class="nav-link" href="{% url 'task_manager:type-list' %}">Task types</a>
      </div>
    </div>
    <div class="navbar-text">

      {% if user.is_authenticated %}
        <a href="{% url 'task_manager:task-create' %}"
           class="btn btn-primary" style="color: white">
          Create New Task
        </a>
        <a href="{% url "task_manager:worker-detail" pk=user.id %}">
          <button type="button" class="btn">Profile</button>
        </a>
        <a href="{% url "logout" %}?next={{ request.path }}">
          <button type="button" class="btn">Logout</button>
        </a>
      {% else %}
        <a href="{% url "login" %}?next={{ request.path }}">
          <button type="button" class="btn">Login</button>
        </a>
        <a href="{% url "task_manager:worker-create" %}">
          <button type="button" class="btn btn-primary">Sign-up</button>
        </a>
      {% endif %}

    </div>
  </div>
  <br>
</nav>